
/* navbar */
nav{
    background-color:#f6ddce;
    height: 100px;
}

ul li a{
    text-decoration: none;
    font-size: 16px;
    font-style:italic;
}

.header-logo{
    color:#8e330c;
}

.header-items{
    color: #8e330c; 
}
.nav-btn-1{
    width: 5rem;
    height: 40px;
    position: absolute;
    right:142px;
    border-color: #8e330c;
    border-radius: 10px;
    color: #8e330c;
}

.nav-btn-2{
    width: 5rem;
    height: 40px;
    position: absolute;
    right:57px;
    border-color: #8e330c;
    border-radius: 10px;
    color: #8e330c;
}
.fa-house-medical{
    color: #8e330c;
    position: absolute;
    right:225px;
    font-size: 25px;
    top: 30px;
}
.nav-ul{
    margin-left: 55px;
}
/* navbar end */

#home-page{
   background-color:#f6ddce;
   height: 500px;
}
.img-home-row-1{
    height: 400px;
    background: rgb(14, 184, 169);
}
.p-home-row-1{
    background: #9c7878;
}